body{
    margin: 0%;
}
.background{
    /background-image: url(images/donation13.jpg);
    /background-repeat: no-repeat;
    /width: 100%;
   background-color: aqua;
}
.first_section{
    text-align: center;
}
h1{
    font-size: 50px;
    padding-top: 200px;
}
img{
    width: 80%;
}
a{
    align-items: center;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
}