body{
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0%;
    padding: 0%;
}
.background {
    background-image: url('images/123.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    
}
.page-one{
    text-align: center;
    /*text-shadow: 2px 2px 2px black;*/
    color: white;
}

h1{
    text-align: center;
    font-size: 50px;
    padding-top: 130px;
}
.section_two{
    padding-bottom: 50px;
    text-align: center;
}
.don{
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 15px;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    text-align: center;
    display: inline;
    text-shadow: none;
}
.page-two{
    text-align: center;
    color: black;
}
.tk{
    font-size: 35px;
    text-align: center;
}
.taka{
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.082);
}
.special{
    background-color: #ff59594d;
    border: 5px solid #FF5959;
}
.input{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}
.amount{
    font-size: 20px;
    border: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.11);
    padding: 10px;
}
hr{
    width: 700px;
}
#second-page-link{
    display: block;
    text-align: center;
    padding: 10px;
}
.thard-page{
    display: flex;
    justify-content: center;
 
}
.th-box{
    padding: 28px;
    margin: 10px;
}
.box-one{
    background-color: rgba(228, 57, 57, 0.116);
}
.box-two{
    background-color: rgba(22, 255, 177, 0.151);
}
.box-three{
    background-color: rgba(0, 0, 0, 0.103);
}
h3{
    font-size: 25px;
}
.page-four{
    display: flex;
    padding: 150px;
}
.page-four-part-one{
    text-align: left;
    padding-right: 20px;
    width: 80%;
    padding-left: 30px;
}
.page-four-part-two{
    width: 80%;
}
.last-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;

}
.last-page-part-one{
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(255, 0, 0, 0.096);
}
.last-page-part-two{
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(255, 0, 0, 0.096);
}

.button{
    padding: 10px 20px;
    background-color: #FF5959;
    font-size: 20px;
    border: none;
    color: white;
}
footer{
    text-align: center;
    background-color: rgb(1, 1, 58);
    padding: 20px;
    color: #FF5959;
}