body{
    margin: 0%;
    padding: 0%;
}
.background {
    background-image: url('images/donation4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/*.background{
    text-align: center;
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}*/
/*.first_section{
    text-align: center;
}*/
.section_one{
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
    color: white;
}
.section_two{
    text-align: center;
    color: white;
}
/*a{
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
}*/
.don{
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: 700;
    position: relative;
}
